/*
https://colorhunt.co/palette/226410
#cd5d7d - pink
#f6ecf0 - white
#a7c5eb - blue
#949cdf - purple
*/

@import url('https://fonts.googleapis.com/css2?family=Nothing+You+Could+Do&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap');

.titletext {
  text-align: center;
  color: #cd5d7d;
  font-family: 'Nothing You Could Do', cursive;
}

h1.titletext {font-size: 4em;}
p.titletext {font-size: 3em;}

#main {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  height: 585px;
  width: 595px;
  background-color: #cd5d7d;
  padding: 10px;
}

body {
  background-color: #f6ecf0;
  user-select: none;
}

.box {
  height: 175px;
  width: 175px;
  background-color: #f6ecf0;
  display: inline-block;
  margin: 10px;
  vertical-align: top;
  text-align: center;
  line-height: 150px;
  font-size: 100px;
  font-family: 'Hachi Maru Pop', cursive;
  color: #949cdf;
}

.box:hover {
  background-color: pink;
}

/*LightBox*/
#lightbox {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5); 
}

.hidden {
  display: none;
}

.unhidden {
  display: block;
}

#x {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 30px;
  width: 30px;
  z-index: 2;
}

#positionMessage {
  position: absolute;
  top: 45px;
  left: 0px;
  width: 100%;
}

#boundaryMessage {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 700px;
  height: 275px;
  background-color: rgba(246,236,240,0.9);
  z-index: 1;
  padding: 30px;
  border: thick solid #cd5d7d;
}

#controls {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height:100%;
}

#newbutton {
  position: absolute;
  top: 20px;
  left: 40px;
  height:50px;
  width: 200px;
  background-color: #cd5d7d;
  border: none;
  border-radius: 15px;
  color: #f6ecf0;
  font-size: 20px;
  box-shadow: -3px 3px 5px #de6e8e;
}

#newbutton:hover {
  background-color: #bc4c6c;
}

#newbutton:active {
  box-shadow: -3px 2px 5px #cd5d7d;
  transform: translateY(4px);
  outline: none;
}
